body {
    font-family: Helvetica;
    background-color: #f0f8ff;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 0;
    color: salmon;
    text-align: center;
    font-size: 24px;
}

.container {
    text-align: center;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 20px;
    background-color: salmon;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

p {
    margin-top: 20px;
    color: salmon;
    font-size: 18px;
}
